.new-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.new-form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .card-info {
    flex-direction: column;
    align-items: center;
  }

  .new-form {
    flex-direction: column;
  }

  .new-form-title {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 480px) {
  .new-form-title {
    flex-direction: column;
  }
}
