/* Navbar */

.menu-toggle {
  height: 90vh;
  position: fixed;
  top: 0;
}

/* Forms */

.new-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.new-form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .card-info {
    flex-direction: column;
    align-items: flex-end;
  }

  .new-form {
    flex-direction: column;
  }

  .new-form-title {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 2rem 0;
  }

  .container-profile {
    flex-direction: column;
  }
  .fixed-sidebar {
    display: inline-flex;
    padding: 10% 0;
    width: 100%;
    /* z-index: 1; */
  }

  .yoga-class-buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .card-info {
    justify-content: space-around;
  }

  .new-form-title {
    flex-direction: column;
  }

  .fixed-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .container-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
}

/* Calendar */

.react-calendar {
  width: 75%;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 1rem;
}
.react-calendar__navigation button {
  color: #a75d5d;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__navigation span {
  text-transform: uppercase;
  font-weight: bolder;
}

abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color: #f0997d;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #a75d5d;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #a75d5d33;
  border-radius: 6px;
  font-weight: bold;
  color: #a75d5d;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #a75d5d33;
  border-radius: 6px;
  font-weight: bold;
  color: #a75d5d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #a75d5d;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #a75d5d;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.custom-yoga-class {
  height: 110px;
}

/* yoga-class */
